h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5px;
}
p {
  text-align: center;
  margin-bottom: 50px;
}
button {
  margin: 5px 5% 5px 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightblue;
  text-align: center;
  width: 90%;
  border-radius: 1em;
  border-color: lightblue;
}